{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="spotlight">
		<section class="overlay">
			<section class="wrapper">
				<h1 >About</h1>
				<a href="#"><span class="icon-globe"></span>jnasc.jamia nadwiyya.org</a>
			</section><!--#spotlight>#overlay>#wrapper-->
		</section> <!--#spotlight>#overlay-->
	</section> <!--#spotlight-->

	<section id="aboutus-page">
		<section class="wrapper">
			<ul>
				<li>
					<div class="widgets">
						<h3>Vision</h3>
						<p>To evolve into a premier teacher education institution, molding eminent teachers with creative minds, innovative ideas and sound practical skill, and shape a future where human values are inculcated for the enrichment of mankind.</p>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h3>Mission</h3>
						<p>To impart state of the art knowledge to student teachers undergoing   teacher education and to inculcate in them a high degree of social consciousness  and human values ,there by enabling them  to face  the challenges of life  with courage and conviction  and to train them as a teachers to excel in their profession.One student left during practice teaching due to illness .</p>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h3>History</h3>
						<p>Jamia Nadwiyya Training College owes her genesis and efflorescence to Kerala Nadwathul Mujahideen, the most progressive Muslim religious organization founded in 1950. The college is established and maintained by the central committee of its organization. Jamia Nadwiyya trust board was constituted for the purpose. Dr. Usman Sahib, President of K.N.M was the Chairman of the trust board which established the college. He was a pious visionary who did not confine his piety to the mosque and instead distinguished himself as a great pioneer in social reforms, a profound scholar, an educationist, a physician and a builder of institutions for whom there was no dichotomy between the world of faith and the world of action. As education is central to its mission, K.N.M has been making a substantial contribution in education all these years and to day it has a large net work of centers of learning, ranging from play school to professional college at various campuses. The training college was established at a time when there was not a single teacher education college in the district in government, aided or unaided sector. 
						The college aims to build an enlightened, strong and prosperous nation through education. The responsibility to mould the destiny of the students depends to a large extend on their teachers who take pain to nurture and develop them. Jamia Nadwiyya Training College has premium faculty and those teacher educators have contributed significantly to inspire and inculcate patriotic feeling among the student teachers. Under their guidance, J.N.T.C has always remained as the torch bearer of nation’s most cherished noble ideals and reflects on nation's main ethos, aspirations and concerns. It is one of the premier teacher education institutions in the state of Kerala offering secondary education course and aims to create ideal teachers who help their students to blossom their dreams and to create a developed nation.
						Jamia Nadwiyya training college provides top quality education to pre-service student teachers with well established infrastructure, human resource and curricular programmes. As the students come out from the portals of this institution, they develop their body, mind and personality. Capacity building for decision making, inculcating values such as respect for civic and social intuitions and getting sound knowledge in pedagogical practices are  the key areas promoted in this college. Transmission and transformation of culture all get manifested in various activities under-taken through curricular, co-curricular and extra curricular activities of the college. Democratic practices are promoted through community living camps and individual development is attained through self study, supervised study and computer assisted instruction.
						It strives to produce school teachers with caliber, competence and commitment. After all, we offer courses with the unique imagination. We try to familiarize the pre service student teachers with the changing profile of the profession and get them familiarized with the latest techniques and technology. Learning  .to know learning to do, learning to live together and learning to be, are the four pillars of the educational programme. The college strives  to liberate the trainees from ignorance and ill health. It aims to create an enlightened society, modern in performance scientific in out look and yet committed in traditional values. The attitudinal changes will be effected through technology enabled class rooms.
						It caters to the needs of the students of rural and backward area and serve all people irrespective of caste, creed and religious affiliation. This teacher education institution is growing from strength to strength; giving emphasis to positive education that may lead to positive thinking and wish to build a prosperous and well developed nation in the immediate future.
						Molding next generation teachers as professionally competent      and socially    responsible citizens are the noble aims of Jamia Nadwiyya Training College (J.N.T.C). Since its inception, the college has had created a niche for itself, and is recognized as an   innovative teacher education centre treading a different path. J.N.T.C is considered as a hall mark to teacher education, and it is evident from the ever growing demand for its students. With the mushrooming of institutions offering teacher education, it has become the responsibility of Jamia Nadwiyya to take lead and offer quality education uncompromisingly. J.N.T.C has taken the right initiative and its alumni stands testimony to the career opportunities.
						    1. We wish to make the college is a great store house of learning , a great bureau of standards, a great workshop of knowledge, a great laboratory for the training as well of men of thought as of men of action. The college would serve as an instrument for the conservation of knowledge, for the discovery of knowledge, for the distribution of knowledge, and above all, for the creation of knowledge-makers. 
						    2. The institution has the vision to educate the students to assume social obligations-to train as excellent teachers to solve social problems to help set ethical directions for society. The college is concerned with student growth and   development, the discovery and refinement of knowledge, and to increase the social impact on the community.
						    3. The college shall  pay attention to enable the students to be: “caring for oneself  ,including  one’s health ,caring one’s family ,friends and peers; caring for other people ;caring for students and  co-workers, caring  for the social ,economic and ecological welfare of one’s society and nation ;caring for human rights; caring for other spices; caring for the livability of the earth; caring for truth, knowledge and learning” .
						    4. To maintain quality in teacher education, it shall put effort, courage and commitment.</p>
					</div>
				</li>
				<li>
					<div class="widgets">
						<h3>Objectives</h3>
						<p>The institution has the broad objective of being an active agent of change by responding to the needs and challenges of the times .This is achieved basically through the process of education, training and research.
						The primary objective of the institution is to impart post graduate instruction and training in Arabic language and literature  and related disciplines
						To conduct problem based research for the advancement and dissemination of knowledge.
						To implement location specific and need based extension and field action programme.
						The principal objective of the institution is to promote Arabic language and literature as well as theological sciences.
						To impart instruction in classical Arabic literature with special attention to highly specialized branches through innovative programmes.
						To provide intensive training in Arabic as well as theological subjects for pre-service and in-service teachers and to conduct research in pedagogical aspects.
						To publish literary and linguistic works in Arabic and to develop print and non-print materials in and about Arabic including original texts commentaries and translations.
						To collect ,preserve and publish manuscripts and to provide historical evidences and interpretations for language development and to preserve the heritage of the nation
						To provide means for education in modern disciplines needed to meaningful interpretation of original Arabic text including technical literature in Arabic.
						To provide in the students and teachers an awareness and understanding of the social needs of their country and to prepare them for fulfilling such needs.
						To make provision for integrated courses in humanities, sciences and technology in the educational programmes of the institution.
						To establish such departments as many be necessary for the study of Indian and foreign languages and literature with a view to inculcate in the students an integrated and world perspective and international understanding.

						Besides these functional objectives the institution has the following specific objectives:

						To promote national integration and the integrated development   of the human personalities through its policies and programmes.
						To impart instruction and training in the languages, literature and culture related arts and craft and allied subjects.
						To  impart training to those residing within India  and outside India who desire to study Arabic language, literature, culture theology, modern sciences and allied sciences .
						To translate books in Indian languages into Arabic according to the need in consonance with the objectives of the institution and also to translate books from Arabic to Indian   languages.
						To undertake application oriented programmes in emerging areas which are relevant and useful to various stakeholders
						To provide facilities for the study of such languages and literature like Malayalam, Urdu, English, Japanese etc
						To provide means for education in modern disciplines needed for popularization of the Arabic language and culture.
</p>
					</div>
				</li>
			</ul>
		</section>
	</section>
{% endblock %}
