{% extends 'web/base.html' %}
{% load static %}
{% block content %}

	<section id="spotlight">
		<section class="overlay">
			<h2 class="events-programes" >ATTENDANCE REPORT </h2>
			<a href="#"><span class="icon-globe"></span>jnasc.jamia nadwiyya.org</a>
		</section>
	</section>
	<section id="courses">
		<section class="wrapper">
			<div class="top">
				<h2>ATTENDANCE REPORT</h2>
			</div>
			<div id="tabs" class="tabs">
				<!-- <ul class="tabs-head">
					<li class="ui-state-active"><a href="#tabs-1">UG</a></li>
					<li><a href="#tabs-2">PG</a></li>
				</ul> -->
				<div id="tabs-1" class="tabcontent" >
					<div style="width: 32%;padding: 2%;margin: 0 2% 2% 0;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);  background-color: #fff;">
						<h2 style="margin-bottom: 2.5%;font-family: 'quicksand_mediumregular';color: #207cf1;font-size: 1.3em;">Daily Attendance Report </h2>
						<a class="button" href="{% static 'Daily Attendance Report 9-13-converted.pdf' %}"><button type="button" style="background-color: #e7e7e7; border: none;color: #000; padding: 15px 32px; text-align: center;text-decoration: none;display:inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">View</button></a>
					</div>
				</div>
				<!-- <div id="tabs-2" class="tabcontent">
					<ul>
						<li>
							<h2>MCom<span>(Computer Application)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magni dolores porro deserunt inventore nihil, aliquid ipsa cum praesentium beatae accusamus d.</p>
						</li>
						<li>
							<h2>Msc<span>(Pysics)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est sunt, illum omnis suscipit voluptate veritatis id reiciendis. Doloremque similique,.</p>
						</li>
					</ul>
				</div> -->
			</div>
		</section><!--(#courses > wrapper)-->
	</section><!--(#courses)-->

{% endblock %}
