<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{{title}} | {{caption}}</title>

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width" initial-scale="1.0" />

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav/fav.ico' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />

        <meta property="og:image"content="https://jnasc.jamia.com/static/images/og.png" />
        <meta property="og:url"content="jnasc.jamia nadwiyya.org" />
        <meta property="og:type"content="article" />
        <meta property="og:title"content="JNASC | B.Ed College" />
        <meta property="og:description"content="The B.Ed College shall be a centre of excellence for imparting value based education aimed at promoting inclusive and holistic growth of the leaner with thrust on real time needs." />

        <meta name="twitter:image"content="/static/images/logo.png" />
        <meta property="twitter:url"content="jnasc.jamia nadwiyya.org" />
        <meta property="twitter:type"content="article" />
        <meta name="twitter:title"content="JNASC |  B.Ed College" />
        <meta name="twitter:description"content=" " />

        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.fancybox.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.ui.js' %}" type="text/javascript"></script>
        <!-- <script type="text/javascript">
          $(document).on('click', 'header section.bottom nav ul li',function(){
              $(this).addClass('active').siblings().removeClass('active')
          })
        </script> -->
    </head>
    <body>
        <header>
            <section class="top">
                <section class="wrapper">
                    <ul>
                        <li><a href="mailto:jnascedavanna@gmail.com"><span class="icon icon-mail"></span>jnascedavanna@gmail.com</a></li>
                        <li><a href="#"><span class="icon icon-globe"></span>jnasc.jamia nadwiyya.org</a></li>
                        <li><a href="tel:0483-2704771"><span class="icon icon-phone"></span>0483-2704771</a></li>
                    </ul>
                </section>
            </section><!-- top -->
            <section class="bottom">
                <section class="wrapper">
                    <h1 class="left">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    </h1>
                    <nav class="right">
                        <ul>
                            <li {% if is_home %}class="active"{% endif %}><a href="{% url 'web:index' %}">HOME</a></li>
                            <li {% if is_aboutus %}class="active"{% endif %}><a href="{% url 'web:aboutus' %}">ABOUT</a></li>
                            <li {% if is_events %}class="active"{% endif %}><a href="{% url 'web:events' %}">COURSE & PROGRAMMES</a></li>
                            <li {% if is_staffs %}class="active"{% endif %}><a href="{% url 'web:staffs' %}">STAFFS & STUDENTS</a></li>
                            <li {% if is_gallery %}class="active"{% endif %}><a href="{% url 'web:gallery' %}">GALLERY</a></li>
                            <li ><a href="{% url 'web:Acconts' %}">ACCOUNTS</a>
                            <li ><a href="{% url 'web:attendance' %}">ATTENDANCE REPORT</a>
              								<!-- <div class="drop-down">
              									<ul>
              										<li><img src="{% static 'images/form.png' %}"><a href="">Application form</a></li>
              										<li><img src="{% static 'images/brochure.png' %}"><a href="">Brochure</a></li>
              										<li><img src="{% static 'images/magazine.png' %}"><a href="">E-Magazine</a></li>
              									</ul>
              								</div> -->
			                      </li>
                            <li><a href="#contacts">CONTACT US</a></li>
                        </ul>
                    </nav>
                    <br class="clear"/>
                    <div class="mobile-menu-overlay"></div>
                    <span class="icon-menu-outline"></span>
                    <div class="mobile-menu">
                        <span class="icon-cancel-circled-outline"></span>
                        <ul>
                            <li><a href="{% url 'web:index' %}">HOME</a></li>
                            <li><a href="{% url 'web:aboutus' %}">ABOUT</a></li>
                            <li><a href="{% url 'web:events' %}">COURSE & PROGRAMMES</a></li>
                            <li><a href="{% url 'web:staffs' %}">STAFFS</a></li>
                            <li><a href="{% url 'web:gallery' %}">GALLERY</a></li>
                            <li class="downloads"><a href="#">ACCOUNTS</a>
                            <li ><a href="{% url 'web:attendance' %}">ATTENDANCE REPORT</a>
              								<div class="drop-down">
              									<ul>
              										<li><img src=""><a href="">Application form</a></li>
              										<li><img src=""><a href="">Brochure</a></li>
              										<li><img src=""><a href="">E-Magazine</a></li>
              									</ul>
              								</div>
            						    </li>
                            <li><a href="#contacts">CONTACT US</a></li>
                            <li class="responsive top"><a href="#"><span class="icon icon-mail"></span>jnascedavanna@gmail.com</a></li>
                            <li class="responsive"><a href="#"><span class="icon icon-globe"></span>jnasc.jamia nadwiyya.org</a></li>
                            <li class="responsive"><a href="#"><span class="icon icon-phone"></span>0483-2704771</a></li>
                        </ul>
                    </div>
                </section>
            </section><!-- bottom -->
        </header>

        {% block content %}

        {% endblock %}
        <footer id="contacts">
            <section id="top">
                <section class="wrapper">
                    <div class="top">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="middle">
                        <img class="logo" src="{% static 'images/logo.png' %}" alt="images" />
                        <h1 class="title">Jamia Nadwiyya<br /> B.Ed College</h1>
                        <p>Salah nagar,Edavanna po<br/> Malappuram dist,<br/>pin 676541<br/> Kerala</p>
                    </div>
                    <div class="bottom">
                        <a href="tel:+919696369656"><span class="icon icon-phone"></span>+91 9696369656</a>
                        <a href="mailto:jnascedavanna@gmail.com"><span class="icon icon-mail"></span>jnascedavanna@gmail.com</a>
                        <a href="#"><span class="icon icon-globe"></span>jnasc.jamia nadwiyya.org</a>
                    </div>
                </section> <!--(section.wrapper)-->
            </section> <!--(section.top)-->
            <section id="bottom">
                <section class="wrapper">
                    <ul>
                        <li><p class="left">&copy; 2019 JNASC. All rights reserved.</p></li>
                        <li>
                            <div class="social">
                                <a href="#"><span class="icon icon-twitter"></span></a>
                                <a href="#"><span class="icon icon-facebook"></span></a>
                                <a href="#"><span class="icon icon-instagram"></span></a>
                            </div>
                        </li>
                        <li><p class="right">Developed by <a href="https://techpe.talrop.com/">Techpe</a></p></li>
                    </ul>
                </section><!--(section.wrapper)-->
            </section> <!--(section.bottom)-->
        </footer>
    </body>
</html>
