{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="spotlight">
		<section class="overlay">
			<h2 class="events-programes" >EVENTS & PROGRAMMES </h2>
			<a href="#"><span class="icon-globe"></span>jnasc.jamia nadwiyya.org</a>
		</section>
	</section>
	<section id="courses">
		<section class="wrapper">
			<div class="top">
				<h2>Courses</h2>
			</div>
			<div id="tabs" class="tabs">
				<!-- <ul class="tabs-head">
					<li class="ui-state-active"><a href="#tabs-1">UG</a></li>
					<li><a href="#tabs-2">PG</a></li>
				</ul> -->
				<div id="tabs-1" class="tabcontent">
					<ul>
						<li>
							<h2>Arabic<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magni dolores porro deserunt inventore nihil, aliquid ipsa cum praesentium beatae accusamus d.</p>
						</li>
						<li>
							<h2>English<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est sunt, illum omnis suscipit voluptate veritatis id reiciendis. Doloremque similique,.</p>
						</li>
						<li>
							<h2>Natural Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id facilis unde quia dicta accusantium distinctio ipsa vitae, optio odio adipisci tenetur, a.</p>
						</li>
						<li>
							<h2>Physical Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit delectus nostrum nemo quo maiores itaque eum corrupti vel quam unde dolore modi r.</p>
						</li>
						<li>
							<h2>Social Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt possimus ullam officiis eveniet sit porro laboriosam dolor atque, eaque debitis .</p>
						</li>
						<li class="blank">
							<h2><span></span></h2>
							<p></p>
						</li>
					</ul>
				</div>
				<!-- <div id="tabs-2" class="tabcontent">
					<ul>
						<li>
							<h2>MCom<span>(Computer Application)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magni dolores porro deserunt inventore nihil, aliquid ipsa cum praesentium beatae accusamus d.</p>
						</li>
						<li>
							<h2>Msc<span>(Pysics)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est sunt, illum omnis suscipit voluptate veritatis id reiciendis. Doloremque similique,.</p>
						</li>
					</ul>
				</div> -->
			</div>
		</section><!--(#courses > wrapper)-->
	</section><!--(#courses)-->

	<section id="events-page">
		<section class="wrapper">
			<div class="events-page-top">
				<h2>Arts</h2>
			</div>
			<ul>
			{% for events in events_datas %}
				{% if events.programs == 'arts' %}
					<li>
						<div class="top">
							<img src="{{ events.image.url }}" alt="image">
						</div>
						<div class="bottom">
							<span class="date">{{events.date.date}}</span>
							<h5>{{events.name}}</h5>
							<p>{{events.description}}</p>
							<a href="" class="button">Read more <span class="icon icon-right"></span></a>
						</div>
					</li>
				{% endif %}
			{% endfor %}

			</ul>
			<div class="events-page-top"><h2>Games</h2></div>
			<ul>
				{% for events in events_datas %}
					{% if events.programs == 'games' %}
						<li>
							<div class="top">
								<img src="{{ events.image.url }}" alt="image">
							</div>
							<div class="bottom">
								<span class="date">{{events.date.date}}</span>
								<h5>{{events.name}}</h5>
								<p>{{events.description}}</p>
								<a href="" class="button">Read more <span class="icon icon-right"></span></a>
							</div>
						</li>
					{% endif %}
				{% endfor %}

			</ul>
			<div class="events-page-top"><h2>Other Activity</h2></div>
			<ul>
			{% for events in events_datas %}
				{% if events.programs == 'otheractivities' %}
					<li>
						<div class="top">
							<img src="{{ events.image.url }}" alt="image">
						</div>
						<div class="bottom">
							<span class="date">{{events.date.date}}</span>
							<h5>{{events.name}}</h5>
							<p>{{events.description}}</p>
							<a href="" class="button">Read more <span class="icon icon-right"></span></a>
						</div>
					</li>
				{% endif %}
			{% endfor %}

			</ul>
		</section><!--(#evets > wrapper)-->
	</section><!--(#evets)-->
{% endblock %}
