{% extends 'web/base.html' %}
{% load static %}
{% block content %}
		<section id="spotlight">
			<section class="overlay">
				<section class="wrapper">
					<h2 class="team">GALLERY</h2>
					<a href="#"><span class="icon-globe"></span>jnasc.jamia nadwiyya.org</a>
				</section><!--#spotlight>#overlay>#wrapper-->
			</section> <!--#spotlight>#overlay-->
		</section> <!--#spotlight-->

		<section id="gallery">
			<section class="wrapper">
				<div class="top">
					<h2>Gallery</h2>
				</div>

					<div class="images">
						<ul>
						 	{% for gallery in gallery_datas %}
							<li><img src="{{gallery.image.crop.400x400}}" alt="image" /></li>
							{% endfor %}
						</ul>
					</div>
			</section>
		</section><!-- gallery -->
{% endblock %}
