{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="spotlight">
		<section class="overlay">
			<section class="wrapper">
				<h1>JAMIA NADWIYYA</h1>
				<h2>B.Ed COLLEGE EDAVANNA</h2>
				<a href="www.ncte.gov.in"><span class="icon-globe"></span>www.ncte.gov.in</a>
			</section><!--#spotlight>#overlay>#wrapper-->
		</section> <!--#spotlight>#overlay-->
	</section> <!--#spotlight-->

	<section id="about">
		<section class="wrapper">
			<div class="top">
				<h2>About Us</h2>
			</div>
			<ul>
				<li>
					<h4>Vision</h4>
					<p>To evolve into a premier teacher education institution, molding eminent teachers with creative minds, innovative ideas and sound practical skill, and shape a future where human values are inculcated for the enrichment of mankind.</p>
				</li>
				<li>
					<h4>Mission</h4>
					<p>
						To impart state of the art knowledge to student teachers undergoing   teacher education and to inculcate in them a high degree of social consciousness  and human values ,there by enabling them  to face  the challenges of life  with courage and conviction  and to train them as a teachers to excel in their profession.
					</p>
				</li>
				<li>
					<h4>History</h4>
					<p>Jamia Nadwiyya Training College owes her genesis and efflorescence to Kerala Nadwathul Mujahideen, the most progressive Muslim religious organization founded in 1950. The college is established and maintained by the central committee of its organization. Jamia Nadwiyya trust board was constituted for the purpose. Dr. Usman Sahib, President of K.N.M was the Chairman of the trust board which established the college. 
					</p>
				</li>
				<li>
					<h4>Objectives</h4>
					<p>TThe institution has the broad objective of being an active agent of change by responding to the needs and challenges of the times .This is achieved basically through the process of education, training and research.
					The primary objective of the institution is to impart post graduate instruction and training in Arabic language and literature  and related disciplines
					</p>
				</li>
			</ul>
			<a href="{% url 'web:aboutus' %}" class="button">VIEW MORE</a>
		</section> <!--(#about>.wrapper)-->
	</section> <!--(#about)-->

	<section id="teams">
		<section class="wrapper">
			<div class="top">
				<h2>Management and Staffs</h2>
			</div>
			{% if management_datas %}
				<ul>
					{% for management in management_datas|slice:":5" %}
					<li>
						<div class="container">
							<div class="image thumb"><img src="{{management.image.url}}" alt=""></div>
							<div class="circle__spin">
								<svg>
									<circle cx="50%" cy="50%" r="96px"></circle>
								</svg>
							</div>
						</div>
						<h4>{{management.name}}</h4>
						<p>{{management.position}}</p>
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No data found</p>
				{% endif %}
			<a href="{% url 'web:staffs' %}" class="button">VIEW MORE</a>
		</section><!--(#teams > wrapper)-->
	</section><!--(#teams)-->

	<section id="courses">
		<section class="wrapper">
			<div class="top">
				<h2>Courses</h2>
			</div>
			<div id="tabs" class="tabs">
				<!-- <ul class="tabs-head">
					<li class="ui-state-active"><a href="#tabs-1">UG</a></li>
					<li><a href="#tabs-2">PG</a></li>
				</ul> -->
				<div id="tabs-1" class="tabcontent">
					<ul>
						<li>
							<h2>Arabic<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magni dolores porro deserunt inventore nihil, aliquid ipsa cum praesentium beatae accusamus d.</p>
						</li>
						<li>
							<h2>English<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est sunt, illum omnis suscipit voluptate veritatis id reiciendis. Doloremque similique,.</p>
						</li>
						<li>
							<h2>Natural Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id facilis unde quia dicta accusantium distinctio ipsa vitae, optio odio adipisci tenetur, a.</p>
						</li>
						<li>
							<h2>Physical Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit delectus nostrum nemo quo maiores itaque eum corrupti vel quam unde dolore modi r.</p>
						</li>
						<li>
							<h2>Social Science<span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt possimus ullam officiis eveniet sit porro laboriosam dolor atque, eaque debitis .</p>
						</li>
						<li class="blank">
							<h2><span></span></h2>
							<p></p>
						</li>
					</ul>
				</div>
				<!-- <div id="tabs-2" class="tabcontent">
					<ul>
						<li>
							<h2>MCom<span>(Computer Application)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit magni dolores porro deserunt inventore nihil, aliquid ipsa cum praesentium beatae accusamus d.</p>
						</li>
						<li>
							<h2>Msc<span>(Pysics)</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis est sunt, illum omnis suscipit voluptate veritatis id reiciendis. Doloremque similique,.</p>
						</li>
					</ul>
				</div> -->
			</div>
		</section><!--(#courses > wrapper)-->
	</section><!--(#courses)-->

	<!-- <section id="videoContainer">
		<video autoplay muted loop id="myVideo">
			<source src="images/video.mp4" type="video/mp4">
		</video>
	</section> -->

	<!-- <section id="departments">
		<section class="wrapper">
			<div class="top">
				<h2>Departments</h2>
			</div>
			<ul>
				<li>
					<h2>Computer science</h2>
					<p>Department of Computer Science started in the year 2012. It offers BCA degree in Computer Science.</p>
				</li>
				<li>
					<h2>Commerce</h2>
					<p>Department of Commerce started in the year 2003.It offers B.Com(Computer Application) and M.Com(Marketing)</p>
				</li>
				<li>
					<h2>Physics</h2>
					<p>The department of physics came into being in 2003 with the starting of BSC Degree programme. In 2013 launched the Post graduate course.</p>
				</li>
				<li>
					<h2>Management Studies</h2>
					<p>We offer BBA (Bachelor of Business Administration) a bachelor's degree in commerce, Arts and business Administration from 2014.</p>
				</li>
				<li>
					<h2>English</h2>
					<p>English had been a part of the Curriculum. Since the inception of the college. But it was only in 2011 that the Undergraduate course in English language and Literature was started.</p>
				</li>
				<li>
					<h2></h2>
					<p></p>
				</li>
			</ul>
		</section><!--(wrapper)-->
	<!-- </section>< -->
	<section id="facilities">
		<section class="wrapper">
			<div class="top">
				<h2>Facilities</h2>
			</div>
			<div class="bottom">
				<div class="right">
					<ul>
						<li>
							<img src="{% static 'images/smart.png' %}">
							<h4>Smart<br>classroom</h4>
						</li>
						<li>
							<img src="{% static 'images/book.png' %}">
							<h4>Library</h4>
						</li>
						<li>
							<img src="{% static 'images/dinner.png' %}">
							<h4>Canteen</h4>
						</li>
						<li>
							<img src="{% static 'images/flask.png' %}">
							<h4>Lab</h4>
						</li>
						<li>
							<img src="{% static 'images/rugby-player-catching-the-ball-on-the-ground.png' %}">
							<h4>Play Ground</h4>
						</li>
					</ul>
				</div>
				<br class="clear" />
			</div>
		</section>
	</section><!-- facilities -->

	<section id="gallery">
		<section class="wrapper">
			<div class="top">
				<h2>Gallery</h2>
			</div>
			<div class="bottom">
				<div class="left">
					<img src="{% static 'images/architecture-building-campus-207729.jpg' %}" alt="" class="featured">
				</div>
				<div class="right">
					<ul>
						{% for gallery in gallery_datas|slice:":6" %}
						<li>
							<a href="{{gallery.image.url}}" data-fancybox="gallery"><img src="{{gallery.image.crop.240x220}}" alt="image" /></a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<br class="clear" />
			</div>
			<a href="{% url 'web:gallery' %}" class="button">See all <span class="icon icon-right"></span></a>
		</section>
	</section><!-- gallery -->

	<section id="achivements">
		<div class="top">
			<h2>Achievements</h2>
		</div>
		<ul class="owl-carousel">
			{% for achievements in achievements_datas %}
			<li class="thumb card">
				<img src="{{achievements.image.url}}" alt="">
				<div class="content">
					<h4>{{achievements.name}}</h4>
					<div class="card">
						<p>{{achievements.description}} </p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</section><!--(#achivements)-->

	<section id="events">
		<section class="wrapper">
			<div class="top">
				<h2>Events & Programs</h2>
			</div>
			<div id="eventtabs" class="tabs">
				<ul class="tabs-head">
					<li class="ui-state-active"><a href="#tabs-1">All</a></li>
					<li><a href="#tabs-2">Arts</a></li>
					<li><a href="#tabs-3">Games</a></li>
					<li><a href="#tabs-4">Other activities</a></li>
				</ul>
				<div id="tabs-1" class="tabcontent">
					<ul>
						{% for events in events_datas|slice:":4" %}
							{% if events.programs == 'arts' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}

						{% for events in events_datas|slice:":4" %}
							{% if events.programs == 'games' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}

						{% for events in events_datas|slice:":4" %}
							{% if events.programs == 'otheractivities' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}

					</ul>
				</div>
				<div id="tabs-2" class="tabcontent">
					<ul>
						{% for events in events_datas|slice:":4" %}
							{% if events.programs == 'arts' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div id="tabs-3" class="tabcontent">
					<ul>
						{% for events in events_datas %}
							{% if events.programs == 'games' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div id="tabs-4" class="tabcontent">
					<ul>
						{% for events in events_datas %}
							{% if events.programs == 'otheractivities' %}
								<li>
									<div class="top">
										<img src="{{events.image.url}}" alt="image">
									</div>
									<div class="bottom">
										<span class="date">{{events.date.date}}</span>
										<h5>{{events.name}}</h5>
										<p>{{events.description}}</p>
										<a href="" class="button">Read more <span class="icon icon-right"></span></a>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</section><!--(#evets > wrapper)-->
	</section><!--(#evets)-->
{% endblock %}
