{% extends 'web/base.html' %}
{% load static %}
{% block content %}
	<section id="spotlight">
		<section class="overlay">
			<section class="wrapper">
				<h2 class="team">STAFFS & STUDENTS</h2>
				<a href="#"><span class="icon-globe"></span>jnasc.jamia nadwiyya.org</a>
			</section><!--#spotlight>#overlay>#wrapper-->
		</section> <!--#spotlight>#overlay-->
	</section> <!--#spotlight-->

	<section id="teamspage">
		<section class="wrapper">
			<div class="top">
				<!-- <h2>STAFFS & STUDENTS</h2> -->
			</div>
			<ul>
					{% for management in management_datas %}
						{% if  management.role == 'management' %}
							<li>
								<div class="container">
									<div class="image thumb"><img src="{{management.image.url}}" alt="image"></div>
									<div class="circle__spin">
										<svg>
											<circle cx="50%" cy="50%" r="96px"></circle>
										</svg>
									</div>
								</div>
								<h4>{{management.name}}</h4>
								<p>{{management.position}}</p>
							</li>
						{% endif %}
					{% endfor %}

			</ul>
			<div class="top">
				<h2>Administrative Staffs</h2>
			</div>
			<ul>
				{% for management in management_datas %}
					{% if  management.role == 'administrative' %}
						<li>
							<div class="container">
								<div class="image thumb"><img src="{{management.image.url}}" alt=""></div>
								<div class="circle__spin">
									<svg>
										<circle cx="50%" cy="50%" r="96px"></circle>
									</svg>
								</div>
							</div>
							<h4>{{management.name}}</h4>
							<p>{{management.position}}</p>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			<div class="top">
				<h2>Teaching staff</h2>
			</div>
			<ul>
				{% for management in management_datas %}
					{% if  management.role == 'teacher' %}
						<li>
							<div class="container">
								<div class="image thumb"><img src="{{management.image.url}}" alt=""></div>
								<div class="circle__spin">
									<svg>
										<circle cx="50%" cy="50%" r="96px"></circle>
									</svg>
								</div>
							</div>
							<h4>{{management.name}}</h4>
							<p>{{management.position}}</p>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			<div class="top">
				<h2>Students</h2>
			</div>
			<ul>
				{% for management in management_datas %}
					{% if  management.role == 'students' %}
						<li>
							<div class="container">
								<div class="image thumb"><img src="{{management.image.url}}" alt=""></div>
								<div class="circle__spin">
									<svg>
										<circle cx="50%" cy="50%" r="96px"></circle>
									</svg>
								</div>
							</div>
							<h4>{{management.name}}</h4>
							<p>{{management.position}}</p>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		</section><!--(#teams > wrapper)-->
	</section><!--(#teams)-->
{% endblock %}
